services:
  http-echo1:
    image: hashicorp/http-echo:latest
    container_name: http-echo1
    networks:
      - haproxy-net
    depends_on:
      - haproxy
  http-echo2:
    image: hashicorp/http-echo:latest
    container_name: http-echo2
    networks:
      - haproxy-net
    depends_on:
      - haproxy

  haproxy:
    build:
      context: .
      dockerfile: Dockerfile-haproxy
    container_name: haproxy
    ports:
      - "8888:80"
      - "5555:5555"  # Port for HAProxy Data Plane API
      - "8405:8405"  # Port for HAProxy Prometheus metrics
      - "3307:3307"  # Port for MariaDB access through HAProxy
    environment:
      DATAPLANE_PASSWORD: ${DATAPLANE_PASSWORD}
    networks:
      - haproxy-net

  mariadb:
    image: mariadb:latest
    container_name: mariadb
    environment:
      MARIADB_ROOT_PASSWORD: root_password
      MARIADB_DATABASE: haproxy_webui
      MARIADB_USER: haproxy_web_user
      MARIADB_PASSWORD: haproxy_web_password
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - haproxy-net
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      timeout: 20s
      retries: 10
      interval: 10s
    depends_on:
      - haproxy

volumes:
  mariadb_data:

networks:
  haproxy-net:
    driver: bridge